body{
    background-image:url('../images/body.jpg');
}
.char{
    float: right;
}
.box{
    height:400px;
    width:80%;
    border: 2px solid black;
    float: left;
}

.form{
    margin-top: 85px;
    float:right;
    width:40% !important;
}
.map{
    margin-top: 85px;
    width:40% !important;
}