body{
    margin:0 auto;
    width: 100%;
}



.bgvideo {
position: fixed;
left: 50%;
min-width: 100%;
min-height: 100%;
z-index: -1;
transform: translateX(-50%) translateY(-50%);
}

/*<!---------- Start of Navbar ---------->*/
.navbar{
    background-color: orange;
    height:70px;
    width:80%;
    position:fixed;
    top: 10px;
    left:0;
    right: 0;
    z-index: 1;
    border:2px solid white;
    border-radius: 33px;
    margin-right: auto;
    margin-left: auto;
}
.nav-search{
    margin-top: 19px;
    float:right;
    margin-right: 10px;
}
.search, .button{
    float: left;
}
ul {
    padding:0px; 
    
} 
.nav-list{
    float: right;
}

.logo{
    height:70px;
    width:12%;
}
.anchor{
    float: left;
}

.list-item{
    float:left;
    list-style-type: none;
    background-color: white;
    margin:4px;
    border:2px solid black;
    color: black;
}
/*<!---------- End of Navbar ---------->*/

/*<!---------- Start of Hero ---------->*/
h1{
    width: 20%;
    margin: 0 auto;
    margin-top: 300px;
    background-color: orange;
    border:2px solid white;
    border-radius:33px;
}
.margin{
    height:150px;
    width: 34%;
    margin-left: auto;
    margin-right: auto;
}
.list-pic{
    float:left;
    list-style-type: none;
    background-color: white;
    margin:4px;
    border:2px solid black;
    height:100px;
    width: 160px;
    display: none;
    transition: transform .2s;
}
.image1:hover {
  transform: scale(1.5); 
}
.image1{
    background-image:url('../images/adult_gohan.jpg');
    background-size: 100% 100px;
    transition: transform .2s;
}
.image2{
    background-image:url('../images/videl_edit.jpg');
    background-size: 100% 100px;
}
.image3{
    background-image:url('../images/vegito.jpg');
    background-size: 100% 100px;
}
.hero{
    height:500px;
    width: 100%;
    position: relative;
    top: 60px;
    
}

.switch{
    margin-left: 50px;
}
/*<!---------- End of Hero ---------->*/

/*<!---------- Start of Main Body ---------->*/
.main{
    height:450px;
    width: 100%;
}
.box{
    float:left;
    background-color: gray;
    height: 400px;
    width:43%;
    border: 2px solid black;
    margin: 75px 30px 30px 30px;
}
.video{
    height:200px;
    width: 33%;
}



/*<!---------- End of Main Body ---------->*/

/*<!---------- Start of  Footer ---------->*/
footer{
    clear: both;
    background-color:orange;
    height:55px;
    width:60%;
    border:2px solid white;
    border-radius: 33px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
.footer-words{
    float: left;
    width:33%;
}
.social,.copyright{
    margin-top: 20px;
    display:block;
    text-align: center;
}
.fab{
    font-size: 2em;
    padding-left:10px;
}
.fa-facebook{
    color:#4267b2;
}
.fa-twitter{
    color: #38A1F3;
}

/*<!---------- End of  Footer ---------->*/



